<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style>
      nav {
        height: 70px;
        /* border: 1px solid; */
        display: flex;
        justify-content: space-around;
        align-self: center;
        width: 100%;
        color: #ff4545;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        background-color: black;
      }
      nva h1 {
        /* flex-basis: 20%; */
      }
      nav ul {
        display: flex;
        justify-content: center;
        align-self: center;
        /* flex-basis: 70%; */
      }
      nav ul a {
        text-decoration: none;
        border: 1px solid;
        padding: 10px 13px;
        border-radius: 3px;
        margin: 0 5px;
        /* height: 60px;
        width: 100px */
        color: #e94b3cff;
      }
      @import url("https://fonts.googleapis.com/css?family=PT+Sans");

      body {
        background: #fff;
        font-family: "PT Sans", sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <nav>
      <h1>Register Yourself</h1>
      <ul>
        <a href="/">Home</a>
        <a href="/register">Registration</a>
        <a href="/login">Login</a>
      </ul>
    </nav>
  </body>
</html>
